<mat-toolbar class="headercolour">
  <span><img src="/assets/images/logo.png" ></span>
  <a mat-button class="btnheader" routerLinkActive="active" routerLink="/home"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button class="btnheader" routerLinkActive="active" routerLink="/about"><span class="fa fa-info fa-lg"></span> About</a>
  <a mat-button class="btnheader" routerLinkActive="active" routerLink="/contactus"><span class="fa fa-address-card fa-lg "></span> Contactus</a>
  <span class="flex-spacer"></span>
  <a mat-button><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i> Login</a>
</mat-toolbar>
<div class="jumbotron">
  <form class="" >
    <h1>Buy, Sale &Rent</h1><h2>No. 1 Property Dealing site</h2>
    <input type="search" name="" value="Type Location....">
    <button type="button" name="button">Search</button><br><br>
    <div class="selectbtn">
    <select name="buy">
      <option >Buy</option>
      <option >Rent</option>
      <option >Sold</option>
    </select>
    <select name="buy">
      <option >Appartment</option>
      <option >Townhouse</option>
      <option >House</option>
      <option >unit</option>
    </select>
    <select name="buy">
      <option >Min. Price</option>
      <option >25,00,000</option>
      <option >50,00,000</option>
      <option >1,00,00,000</option>
      <option >1,50,00,000</option>
    </select>
    <select name="buy">
      <option >Max. Price</option>
      <option >50,00,000</option>
      <option >1,00,00,000</option>
      <option >1,50,00,000</option>
      <option >2,00,00,000</option>
    </select>
    <select name="buy">
      <option >Construction Status</option>
      <option >Under Construction</option>
      <option >New Launch</option>
      <option >Ready To Move</option>
    </select>
    </div>
  </form>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
