<div class="footer"
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutAlign="start start"
    fxLayoutGap="30px">
    <div class="">
      <mat-list>
        <h3>Links</h3>
        <mat-list-item><a mat-button routerLinkActive="active" routerLink="/home">Home</a> </mat-list-item>
        <mat-list-item> <a mat-button routerLinkActive="active" routerLink="/about">About </a></mat-list-item>
        <mat-list-item><a mat-button routerLinkActive="active" routerLink="/contactus"> Contactus</a></mat-list-item>
      </mat-list>
    </div>
    <div class="">
      <mat-list>
        <h3>Cities</h3>
        <mat-list-item><a href="#">Brisbane</a></mat-list-item>
        <mat-list-item><a href="#">Sydney</a></mat-list-item>
        <mat-list-item><a href="#">Melbourne</a></mat-list-item>
        <mat-list-item><a href="#">Adelaide</a></mat-list-item>
        <mat-list-item><a href="#">Perth</a></mat-list-item>
      </mat-list>
    </div>
    <div class="">
      <mat-list>
        <h3>More...</h3>
        <mat-list-item><a href="#">Privacy Policy</a></mat-list-item>
        <mat-list-item><a href="#">Tracking & Targetting Policy</a></mat-list-item>
        <mat-list-item><a href="#">Condition of Use</a></mat-list-item>
      </mat-list>
    </div>
    <span class="flex-spacer"></span>
    <div>
    <h3>Our Address</h3><br>
        <address style="text-size: 80%">
          121, Clear Water Bay Road<br> Clear Water Bay, Kowloon<br> Australia<br>
          <i class="fa fa-phone"></i>: +890 154 5998<br>
          <i class="fa fa-fax"></i>: +802 8905 4343<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">email@housingbricks.com</a>
        </address>
        <br>
        <h4>Follow us on:</h4>
        <hr>
        <a mat-icon-button class="btnfacebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        <a mat-icon-button class="btntwitter" href="https://twitter.com/login"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a mat-icon-button class="btnlinkedin" href="https://in.linkedin.com/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        <a mat-icon-button class="btngoogle" href=""><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
        <a mat-icon-button class="btnyoutube" href="https://www.youtube.com/watch?v=tLh9Ve0a3uk"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
        <hr><br><br>
        <p>© Copyright 2020 HousingBricks.com</p>
    </div>
</div>
