.footer{
  background-color: #2e2e2d ;
  color: #b87e2e;
  padding: 35px;
}
a:link{
  color: #b87e2e;
  text-decoration: none;
}
a:visited{
  color: #b87e2e;
  text-decoration: none;
}
a:hover{
 color: #b87e2e;
 text-decoration: underline;
}
.active{
  background-color: #1f1f1e;
}
.btnfacebook{color: #3b5998!important;}
.btngoogle{color: #db4a39!important;}
.btntwitter{color: #00acee!important;}
.btnyoutube{color: #FF0000!important;}
.btnlinkedin{color: #0e76a8!important;}
