*{
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}
img{
  object-fit: scale-down;
  max-width: 100%;
  max-height: 100%;
}
.lineheight{
  line-height: 2;
  font-size: 20px;
}
.back{
  background-color: #2e2e2d;
  color: #b87e2e;
  font-size: 17px;
}
