.propertycard{
  background-color: white;
  width: 600px;
}
.centeralign{
  text-align: center;
}
.select{
  width: 130px;
  height: 27px;
  border-radius: 8px;
  border: 2px solid grey;

}
.updatebtn{
  width: 130px;
  height: 35px;
  border: 2px solid grey;
  background-color: #2e2e2d;
  border-radius: 8px;
  color: #b87e2e;
}
