/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$header-grey: #2e2e2d;

*{
  padding: 0;
  margin: 0;

}
.flex-spacer {
  flex: 1 1 auto;
}

.headercolour{
  background-color:$header-grey ;
  color: #b87e2e;
  text-shadow: 2px;
  font-size: 17px;
  font-weight: bolder;

}

.container {
    margin: 30px;
    display:flex;
    padding: 16px;
}
body{
  background-color: #ebeced;
}
.btnfeedback{
  width: 120px;
  height: 40px;
  position: fixed;
  top: 400px;
  left: -39px;
  transform: rotate(90deg);
  background-color:$header-grey ;
  color: #b87e2e;
  text-shadow: 2px;
  font-size: 17px;
  font-weight: bolder;
}
.backhead{
  border-top: 2px solid black;
  height: 250px;
  background-image: url('/assets/images/back.jpg');
  background-repeat: no-repeat;
  background-size: 100% 300px;
}
.backheading{
  font-size: 70px;
  color: black;

}
