.card{
  width: 500px;
  height: 500px;
  background-color: white;
}
img{
  width: 100%;
  height: 250px;
  margin-left: 10px;
  margin-right: 8px;
}
.dealbtn{
  background-color: #347deb;
  border: solid 2px grey;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 9px;
  font-size: 25px;
}
.landingdiv{
  margin-left: 60px;
  margin-top: 30px;
}
.grab{
  font-size: 40px;
  font-weight: bolder;
  color: #b87e2e;
  font-family: monospace;
  margin-left: 30%;
}
.sellerdiv{
  width: 400px;
}
.sellerheading{
  font-size: 60px;
}
.sellersubheading{
  color: grey;
}
